.lang 
{
    cursor: pointer;
    float: right;
    height: 16px;
    width: 16px;
    display:inline-block;
    opacity:0.5;
    filter:alpha(opacity=50);
}
.lang_selected 
{
	cursor: default;
    opacity:1.0;
    filter:alpha(opacity=100); 
}
.lang:hover 
{
    opacity:1.0;
    filter:alpha(opacity=100); 
}

.lang_form
{
    /*padding: 5px;*/
}
.lang-wrapper 
{
    display:inline-block;
	vertical-align:middle; 
	margin-top: auto;
}