.lang {
	  cursor: pointer;
  float: right;
  height: 16px;
  width: 16px;
  display:inline-block;
}
.lang_en {
  background: url("./images/flags/en.png") no-repeat;

}
.lang_ru {
  background: url("./images/flags/ru.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lang_uk {
  background: url("./images/flags/uk.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}